configuration{
    modi: "run,drun,window,filebrowser";
    lines: 10;
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 󰕰  Window ";
    display-Network: " 󰤨  Network ";
    display-filebrowser: "   Browser ";
    sidebar-mode: true;
    font: "mononoki Nerd Font 12";
    dpi: 100;
}

@theme "gruvbox-dark"

