window {
margin: 5px;
border: 2px solid #cc241d;
/* border-radius: 15px; */
background-color: #1d2021;
font-family: mononoki Nerd Font;
font-size: 16px;
}

#input {
margin: 10px;
margin-bottom: 1px;
border: 5px solid #3c3836;
color: #ebdbb2;
background-color: #3c3836;
}

#input > image.left {
  -gtk-icon-transform:scaleX(0);
}

#inner-box {
margin: 15px;
margin-top: 15px;
border: none;
background-color: #1d2021;
}

#outer-box {
margin: 10px;
border: none;
background-color: #1d2021;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
} 

#entry:selected {
	background-color: #cc241d;
    color: #3c3836;
	font-weight: normal;
}

#text:selected {
	background-color: #cc241d;
    color: #fbf1c7;
	font-weight: bold;
}
